* {
    margin: 0;
    position: relative;
}

body {
    width: 1500px;
    height: 1300px;
    position: relative;
}

button {
    border: none;
    background-color: transparent;
    font-size: 17px;
    font-weight: bolder;
    color: rgb(119, 237, 198);
    cursor: pointer;
}

.main-container {
    position: relative;
    width: 94.9rem;
    height: 40rem;
}

@media screen and (max-width: 400px) {
    .company,
    .support,
    .customer {
        display: none;
    }
    .container {
        width: 390px;
    }
}

ul {
    list-style-type: none;
    margin: 0;
}

.logo {
    width: 25%;
    height: 5rem;
    background-color: aliceblue;
    flex: .25;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    color: rgb(119, 237, 198);
}

.container {
    height: 55rem;
}

.first-half {
    width: 94.9rem;
    height: 30rem;
    display: flex;
    justify-content: space-around;
    background-color: aliceblue;
}

.first-half-about {
    width: 40rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.first-half-about h1 {
    width: 15rem;
    height: 20rem;
    margin-top: 10rem;
    margin-left: 4rem;
    width: 10rem;
}

.first-half-about h2 {
    width: 20rem;
    height: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.first-half img {
    width: 600px;
    height: 400px;
    border-radius: 4rem;
    margin-top: 3rem;
}

.second-half {
    width: 94.9rem;
    height: 30rem;
    display: flex;
    justify-content: space-around;
    background-color: aliceblue;
}

.second-half img {
    width: 600px;
    height: 400px;
    border-radius: 4rem;
    margin-top: 3rem;
}

.partner {
    background-color: bisque;
    width: 100%;
    height: 10rem;
}

.second-half-about {
    width: 40rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.second-half-about h1 {
    width: 15rem;
    height: 20rem;
    margin-top: 10rem;
    margin-left: 4rem;
    width: 10rem;
}

.second-half-about h2 {
    width: 20rem;
    height: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
}