* {
    margin: 0;
    font-family: "Odibee Sans";
}

body {
    width: 94.9rem;
    height: 60rem;
}

.record-main-container {
    width: 100%;
    height: 60.5rem;
    /* background-color: rgb(226, 223, 223); */
}

.months {
    font-size: 3rem;
    width: 94.9rem;
    height: 4rem;
    /* background-color: bisque; */
    display: flex;
    justify-content: space-between;
}

.sticky {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.95);
}

.showing-month {
    margin-top: 0;
    margin-left: 14rem;
}

.navigation {
    width: 20rem;
    height: 5rem;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
}

@media screen and (max-width: 800px) {
    .header {
        width: 100%;
    }
    .navigation {
        width: 5rem;
    }
}

.next-month {
    width: 10rem;
    height: 4rem;
    margin: 1rem 1rem 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.new-month {
    width: 10rem;
    height: 4rem;
    margin: 1rem 1rem 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.new-month:hover {
    cursor: pointer;
}

.next-month:hover {
    cursor: pointer;
}

.next-month-btn,
.new-month-btn {
    width: 8rem;
    background-color: aqua;
    height: 3rem;
    /* background: rgb(87, 87, 188); */
    border-radius: 15px;
    border: none;
    color: aliceblue;
}

.next-month-btn:hover {
    background: aquamarine;
    transform: scale(1.06);
    transition: all .3s;
}


/* .new-month-btn {
    width: 8rem;
    background-color: aqua;
    height: 3rem;
    /* background: rgb(87, 87, 188); */


/* border-radius: 15px;
    border: none;
    color: aliceblue; */


/* } */

.new-month-btn:hover {
    background: aquamarine;
    transform: scale(1.06);
    transition: all .3s;
}

.base-container {
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.record-container {
    width: 70rem;
    height: 40rem;
    position: relative;
    background-color: aliceblue;
    border-radius: 3rem;
    /* border: 3px solid rgb(195, 212, 227); */
    box-shadow: 5px 10px 18px #888888;
    box-sizing: border-box;
}

.nav {
    position: relative;
    width: 100%;
    height: 4rem;
    padding: 2rem;
    font-size: 2rem;
    box-sizing: border-box;
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
    border-top-left-radius: 3rem;
    border-top-right-radius: 3rem;
}

.content-container {
    position: relative;
    width: 75%;
    height: 28rem;
    background-color: white;
    margin: auto;
    padding: 1rem;
    overflow: auto;
    border-radius: 3rem;
}

.content {
    width: 80%;
    height: 4rem;
    background-color: rgb(134, 155, 174);
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1rem;
    border-radius: 1rem;
}

@media screen and (max-width: 400px) {
    .base-container {
        width: 100%
    }
    .container,
    .content-container {
        width: 90%;
        margin-bottom: -17rem;
    }
    .nav {
        width: 100%;
    }
    .base-container {
        margin-top: 1px;
    }
    .container {
        margin-top: -18rem;
    }
    .nav {
        font-size: 13px;
    }
    .content {
        font-size: 12px;
    }
}


/* footer {
    position: relative;
    width: 100%;
    height: 22%;
    display: flex;
    align-items: center;
    justify-content: center;
} */

.help {
    position: relative;
    width: 30%;
    height: 10%;
    margin: 4rem;
    display: flex;
    align-items: center;
    padding: 2rem;
    box-sizing: border-box;
}


/* .help p {
    width: 50%;
    color: gray;
} */

.welcome {
    width: 60%;
    height: 120%;
    margin-right: 1rem;
    box-sizing: border-box;
    /* align-items: center; */
}


/* .welcome p {} */

.contacts {
    width: 40%;
    height: 80%;
}

.policy {
    color: gray;
    font-size: 20px;
}


/* @media screen and (max-width: 800px) {
    .help {
        width: 100%;
    }
    /* .welcome {
        display: none;
    } */


/* .welcome h3 {
    margin: 1rem;
    font-size: 17px;
    box-sizing: border-box;
}

.welcome p {
    font-size: 14px;
    margin: 1rem;
    box-sizing: border-box; */

@media screen and (max-width: 400px) {
    .help {
        width: 59%;
        padding: 2rem;
    }
    .welcome h3 {
        margin: -6px;
        margin-bottom: 4px;
        width: 190%;
        font-size: 10px;
    }
    .welcome p {
        font-size: 8px;
        width: 200%;
    }
}